@import "../../theme/_mixins.scss";

.ProviderDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  padding-top: 4%;

  @include tablet-landscape {
    padding: 0 6%;
  }

  @include tablet-portrait {
    padding: 0 6%;
  }

  @include phone-only {
    padding: 0 4%;
  }

  .details__section {
    background-color: $border-color;
    border-radius: 5px;
    height: auto;
    width: 45%;
    padding: 2% 3%;

    img {
      padding-bottom: 4%;
    }

    @include desktop {
      width: 60%;
    }

    @include laptop {
      width: 60%;
    }

    @include tablet-landscape {
      width: 90%;
    }

    @include tablet-portrait {
      width: 100%;
    }

    @include phone-only {
      width: 100%;
    }

    .section__info {
      justify-content: flex-start;
      padding-bottom: 4%;

      h2 {
        padding: 2% 0 1% 0;
        font-size: 1rem;
        font-weight: 600;
      }

      h3 {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        text-align: left;
        padding-bottom: 1rem;
      }

      .table__title-header,
      .table__content-row {
        @include table-grid;
        grid-template-columns: repeat(4, 1fr);
      }

      .table__title-header {
        align-items: center;
        border-bottom: 1px solid $border-table-color;
        border-top: 1px solid $border-table-color;
        padding-top: 1rem;
      }

      .table__content-row {
        padding-top: 1rem;

        @include phone-only {
          display: flex;
          align-items: flex-end;
          width: 100%;
          flex-direction: column;
          position: relative;
        }
      }

      .table__row {
        @include phone-only {
          &:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            font-weight: bold;
          }
        }
      }
    }

    .table__footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 9rem;
      background-color: $bg-footer-color;
      color: $secondary-color;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 10%;
      height: auto;
      padding: 6%;


      @include laptop {
        font-size: 1rem;
      }

      @include tablet-landscape {
        font-size: 1rem;
      }

      @include tablet-portrait {
        font-size: 1rem;
        gap: 1rem;
        justify-content: space-between;
        padding: 6% 4%;
      }

      @include phone-only {
        font-size: 0.85rem;
        gap: 1rem;
        justify-content: space-between;
        padding: 6% 3%;
      }
    }

    @include phone-only {
      thead {
        display: none;
      }
    }
  }

  .section__btn {
    display: flex;
    justify-content: flex-end;

    .btn__choose {
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      padding: .5rem;
      margin-top: 2rem;
      cursor: pointer;

      &:hover {
        @include btn-hover;
      }
    }

    .toggle__close {
      background-color: $invalid-input-color;
    }

    .toggle__open {
      background-color: $primary-color;
    }
  }
}