@import "../../theme/_mixins.scss";

.Signin {
  width: 100%;
  display: flex;
  height: 100vh;

  .section__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    @include bg-linear-gradient;
    width: 50%;

    article {
      display: grid;
      align-items: center;
      justify-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        width: 70%;
        padding-bottom: 2rem;
      }
    }

    .section__cover-title,
    .section__cover-description {
      color: $secondary-color;

      &.section__cover-title {
        font-size: 2rem;
        padding: 2rem 0;
      }

      &.section__cover-description {
        font-size: 1.2rem;
        width: 60%;
        text-align: center;
      }
    }
  }

  .section__signin {
    width: 50%;

    img {
      padding: 3rem;
      max-width: 100%;
    }

    .section__signin-title {
      font-size: 2.5rem;
      padding: 2rem 0 1rem 0;
    }

    .section__signin-description {
      font-size: 1.1rem;
      padding-bottom: 2rem;
    }

    article {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 auto;

      .label__float input {
        @include input-container;
        width: 100%;
        border: 1px solid $border-color;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -webkit-appearance: none;
      }

      .label__float {
        position: relative;
        padding-top: 5px;
      }

      .label__float input:focus {
        @include input-focus;
      }

      .label__float label {
        pointer-events: none;
        position: absolute;
        top: calc(50% - 13px);
        left: 1rem;
        background-color: $secondary-color;
        padding: 5px;
        box-sizing: border-box;
        transition: all .1s linear;
      }

      .label__float input:required:invalid + label {
        color: $invalid-input-color;
      }

      .label__float input:focus:required:invalid {
        border: 2px solid $invalid-input-color;
      }

      .label__float input:required:invalid + label:before {
        content: '*';
      }

      .label__float input:focus + label,
      .label__float input:not(:placeholder-shown) + label {
        font-size: 13px;
        top: 0;
        color: $primary-color;
      }

      button {
        @include input-container;
      }
    }

    .btn__signin {
      background-color: $primary-color;
      color: $secondary-color;
      border: none;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 4rem;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        @include btn-hover;
      }
    }

    a {
      color: $primary-color;
      text-decoration: none;
      padding: 3rem 0;

      &:hover {
        color: $text-color;
        text-decoration: underline;
        transition: all ease 0.3s;
      }
    }
  }
}