@import "../../theme/_mixins.scss";

.Home {
  width: 100%;
  @include container;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include desktop {
    padding: 0 5%;
  }

  @include tablet-landscape {
    padding: 0 8%;
  }

  @include tablet-portrait {
    padding: 0 8%;
  }

  @include phone-only {
    padding: 0 6%;
  }

  .home__title {
    @include tablet-portrait {
      font-size: clamp(.5rem, 1.2rem + .5rem, 1.9rem);
    }

    @include phone-only {
      font-size: clamp(.5rem, 1rem + .5rem, 1.7rem);
    }
  }

  &>p {
    padding-top: 1rem;
  }

  .home__result-finded {
    display: flex;
    padding: 2rem 0;

    .home__input-kwh {
      padding: 1rem;
      border-radius: 5px 0 0 5px;
      border: 1px solid $border-color;
      max-width: 50%;
      width: 13%;

      &:focus {
        @include input-focus;
      }

      @include desktop {
        width: 15%;
      }

      @include laptop {
        width: 20%;
      }

      @include tablet-landscape {
        width: 25%;
      }

      @include tablet-portrait {
        width: 30%;
      }

      @include phone-only {
        width: 50%;
      }
    }

    .btn__find-provider {
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 0 5px 5px 0;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1rem;

      @include desktop {
        font-size: .8rem;
        width: 18%;
      }

      @include laptop {
        font-size: .8rem;
        width: 25%;
      }

      @include tablet-landscape {
        font-size: .8rem;
        width: 35%;
      }

      @include tablet-portrait {
        font-size: .77rem;
        width: 40%;
      }

      @include phone-only {
        font-size: .7rem;
        width: 50%;
      }
    }
  }

  .home__providers {
    padding-top: 5rem;

    @include laptop {
      padding-top: 2.5rem;
    }

    @include tablet-landscape {
      padding-top: 2rem;
    }

    @include tablet-portrait {
      padding-top: 1.5rem;
    }

    @include phone-only {
      padding-top: 1rem;
    }

    .home__providers-title {
      font-size: 2.5rem;

      @include tablet-portrait {
        font-size: clamp(.5rem, 1.6rem + .5rem, 2.2rem);
      }

      @include phone-only {
        font-size: clamp(.5rem, 1.3rem + .5rem, 2rem);
      }
    }

    &>p {
      padding-top: 1rem;
    }
  }

  .table__providers {
    padding: 4rem 0;
    max-width: 100%;

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        text-align: left;
        padding-bottom: 1rem;
      }

      .table__title-header {
        @include table-grid;

        @include phone-only {
          align-items: center;
          padding-bottom: 0;
        }
      }
    }

    @include tablet-landscape {
      overflow-x: auto;
      scroll-behavior: smooth;
    }

    @include tablet-portrait {
      overflow-x: auto;
      scroll-behavior: smooth;
    }

    @include phone-only {
      overflow-x: auto;
      scroll-behavior: smooth;
    }
  }

  a {
    text-decoration: none;
    color: $text-color;
  }
}