$primary-color: #21DF86;
$secondary-color: #FFF;
$contrast-color: #FAFAFA;
$text-color: #1B1531;
$border-color: #efefef;
$border-table-color: #d4d0d0;
$bg-footer-color: #1B1433;
$invalid-input-color: #ff0000;
$container-width: 1550px;