@import "global";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow: auto;
  font-size: 1rem;
  color: $text-color;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--background-footer);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(264.26deg, $primary-color 0%, $text-color 101.03%);
  border-radius: 20px;
}

svg {
  & > rect {
    fill: var(--color-primary);
  }
}
